<div id="bottom_image">
    <div class="row">
        <div class="col-6">
            <div class="title-mantis">
                <h1> The power of <strong>automation</strong> at the service of <strong>biology</strong> </h1>
            </div>
        </div>
        <div class="col-6">
        </div>
    </div>

    <div style="align-items: flex-end; padding: 2vw">
        <hr style="height:2px; width:25%; border-width:0; background-color:white;"><br>
        <div class="text-mantis">
            <h2> As a cutting edge innovator, what will you <br>build and test at a scale of 1,000? 100,000?</h2>
            <h2><strong>Build More. Test More.</strong></h2>
        </div>
    </div>
</div>

<div class="gradient-background">
    <div class="center_text" style="color: white">
        <h1> High-throughput DNA assembly, microbial phenotyping, and cell engineering. All in a single facility. </h1>
    </div>

    <div class="row">
        <div class="col-6">
            {%- if site.lab-image -%}
                <img src="{{ site.lab-image | relative_url }}" alt="Foundry Lab">
            {%- endif -%}
        </div>
        <div class="col-6">
            {%- if site.lab-scheme -%}
                <object width="100%" height="100%" style="background-color: white" data="/assets/images/foundry-scheme.svg"></object>
            {%- endif -%}
        </div>
    </div>

    <div class="row" style="padding-top: 3vw">
        <div style="overflow-x:auto;">
            <div class="center_text" style="padding-bottom: 0vw; color: white">
                <h1><strong>MEET THE TEAM</strong></h1>
            </div>
            <div class="row">
                <div class="col-6">
                    <img class=team_image src="/assets/images/team/Kevin.png" alt="Avatar">
                    <div class="team_name">
                        Kevin Jacquet (PhD) <br>
                        Platform coordinator <br>
                    </div>

                </div>
                <div class="col-6">
                    <img class=team_image  src="/assets/images/team/Nicholas.png" alt="Avatar"></td>
                    <div class="team_name">
                        Nicholas Gold (MSc)<br>
                        Platform coordinator<br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img class=team_image src="/assets/images/team/Angela.png" alt="Avatar">
                    <div class="team_name">
                        Angela Quach (MSc)<br>
                        Cell Editing Specialist <br>
                    </div>

                </div>
                <div class="col-6">
                    <img class=team_image  src="/assets/images/team/James.png" alt="Avatar"></td>
                    <div class="team_name">
                        James Bagley (MSc)<br>
                        Lab Automation Specialist<br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img class=team_image src="/assets/images/team/Audrey.png" alt="Avatar">
<!--                    <img class=team_image src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar">-->
                    <div class="team_name">
                        Audrey Morin (MSc)<br>
                        Research & Administrative Coordinator<br>
                    </div>

                </div>
                <div class="col-6">
                    <img class=team_image  src="/assets/images/team/Flavia.png" alt="Avatar"></td>
                    <div class="team_name">
                        Flavia Araujo (PhD)<br>
                        Computer Scientist<br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img class=team_image src="/assets/images/team/Benjamin.png" alt="Avatar">
                    <div class="team_name">
                        Benjamin Scott (PhD)<br>
                        Advisor, Business Development<br>
                    </div>

                </div>
                <div class="col-6">
                    <img class=team_image  src="/assets/images/team/Vincent.png" alt="Avatar"></td>
                    <div class="team_name">
                        Vincent Martin (PhD)<br>
                        Director<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>