<div class="center_text">
    <h1> High-throughput DNA assembly, microbial phenotyping, and cell engineering. All in a single facility. </h1>
</div>

<div class="row">
    <div class="col-6">
        {%- if site.lab-image -%}
            <img src="{{ site.lab-image | relative_url }}" alt="Foundry Lab">
        {%- endif -%}
    </div>
    <div class="col-6">
        {%- if site.lab-scheme -%}
            <object width="100%" height="100%" data="/assets/images/foundry-scheme.svg"></object>
        {%- endif -%}
    </div>
</div>

<div id="bottom_image">
    <div class="row">
        <div class="col-6">
            <h1 style="font-size:3.5vw; color: white; padding: 1.5vw"> The power of <strong>automation</strong> at the service of <strong>biology</strong> </h1>
        </div>
        <div class="col-6">
        </div>
    </div>

    <div style="align-items: flex-end; padding: 2vw">
        <hr style="height:2px; width:25%; border-width:0; background-color:white;"><br>
        <h2 style="font-size:2.5vw; color: white; vertical-align: bottom"> As a cutting edge innovator, what will you <br>build and test at a scale of 1,000? 100,000?</h2>
        <h2 style="font-size:2.5vw; color: white; vertical-align: bottom"><strong>Build More. Test More.</strong></h2>
    </div>
</div>

<div class="row" style="padding-top: 3vw">
    <div style="overflow-x:auto;">
        <div class="center_text" style="padding-bottom: 0vw">
            <h1><strong>Meet the team</strong></h1>
        </div>
        <table style="background-color: #ffffff;">
            <tr>
                <td></td>
                <div class="team">
                    <td class="team_name_right">
                        Kevin Jacquet (PhD)<br>
                        Platform coordinator
                    </td>
                    <td style="text-align: left"><img class=team_image src="/assets/images/team/Kevin.png" alt="Avatar"></td>
                </div>
                <td style="text-align: right"><img class=team_image  src="/assets/images/team/Nicholas.png" alt="Avatar"></td>
                <td class="team_name_left">
                        Nicholas Gold (MSc)<br>
                        Platform coordinator
                </td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td class="team_name_right">
                        Angela Quach (MSc)<br>
                        Cell Editing Specialist
                </td>
                <td style="text-align: left"><img class=team_image src="/assets/images/team/Angela.png" alt="Avatar"></td>
                <td style="text-align: right"><img class=team_image src="/assets/images/team/James.png" alt="Avatar"></td>
                <td class="team_name_left">
                        James Bagley (MSc)<br>
                        Lab Automation Specialist
                </td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td class="team_name_right">
                        Flavia Araujo (PhD)<br>
                        Computer Scientist
                </td>
                <td style="text-align: left"><img class=team_image src="/assets/images/team/Flavia.png" alt="Avatar"></td>
                <td style="text-align: right"><img class=team_image src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar"></td>
                <td class="team_name_left">
                        Audrey Morin (MSc)<br>
                        Research & Administrative Coordinator</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td class="team_name_right">
                        Benjamin Scott (PhD)<br>
                        Advisor, Business Development
                </td>
                <td style="text-align: left"><img class=team_image src="/assets/images/team/Benjamin.png" alt="Avatar"></td>
                <td style="text-align: right"><img class=team_image src="/assets/images/team/Vincent.png" alt="Avatar"></td>
                <td class="team_name_left">
                        Vincent Martin (PhD)<br>
                        Director
                        </td>
                <td></td>
              </tr>
        </table>
    </div>
</div>