<div class="center_text">
    <h1 style="font-size:2.5vw;"> Applying the power of automation to DNA assembly, microbial phenotyping, and cell engineering. All in a single facility. </h1>
</div>

<div class="row">
    <div class="col-6">
        {%- if site.lab-image -%}
            <img src="{{ site.lab-image | relative_url }}" alt="Foundry Lab">
        {%- endif -%}
    </div>
    <div class="col-6">
        {%- if site.lab-image -%}
            <img src="{{ site.lab-image | relative_url }}" alt="Foundry Lab">
        {%- endif -%}
    </div>
</div>

<div id="bottom_image">
    <div class="row">
        <div class="col-6">
            <h1 style="font-size:3vw; color: white; padding: 2vw"> The power of automation at the service of Biology </h1>
        </div>
        <div class="col-6">
        </div>
    </div>

    <div style="align-items: flex-end; padding: 2vw">
        <hr style="height:2px; width:25%; border-width:0; color:red; background-color:white;"><br>
        <h2 style="font-size:1.5vw; color: white; vertical-align: bottom"> As a cutting edge innovator, what will you build and test at a scale of 1,000? 100,000? </h2>
        <h2 style="font-size:1.5vw; color: white; vertical-align: bottom"><strong>Unleash the true potential of your projects</strong></h2>
    </div>
</div>

<div class="row" style="padding-top: 3vw">
    <div style="overflow-x:auto;">
        <table style="background-color: #ffffff;">
            <tr>
                <td></td>
                <td style="text-align: right">Text beside the image</td>
                <td style="text-align: center"><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="border-radius: 50%; max-width: 150px; min-width: 50px; width: 100%; height: auto;"></td>
                <td style="text-align: center"><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="border-radius: 50%; max-width: 150px; min-width: 50px; width: 100%; height: auto;"></td>
                <td style="text-align: left">Text beside the image</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td style="text-align: right">Text beside the image</td>
                <td style="text-align: center"><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="border-radius: 50%; max-width: 150px; min-width: 50px; width: 100%; height: auto;"></td>
                <td style="text-align: center"><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="border-radius: 50%; max-width: 150px; min-width: 50px; width: 100%; height: auto;"></td>
                <td style="text-align: left">Text beside the image</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td style="text-align: right">Text beside the image</td>
                <td style="text-align: center"><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="border-radius: 50%; max-width: 150px; min-width: 50px; width: 100%; height: auto;"></td>
                <td style="text-align: center"><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="border-radius: 50%; max-width: 150px; min-width: 50px; width: 100%; height: auto;"></td>
                <td style="text-align: left">Text beside the image</td>
                <td></td>
              </tr>
        </table>
    </div>
</div>