<header>

<!--  <div class="wrapper">-->
<!--    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">-->
    {%- if site.header-image -%}
<!--      <img style="background-size: auto; height: 630px" src="{{ site.header-image | relative_url }}" alt="{{ site.title | escape }}">-->
    <div id="example1">
<!--      <h1 style="color: white">{{ site.title | escape }}</h1>-->
<!--      <p>The background image is displayed in its original size.</p>-->
    </div>
    {%- else -%}
      {{ site.title | escape }}
    {%- endif -%}
<!--    </a>-->

<!--  </div>-->
</header>
