<nav id='navbar' class="navbar navbar-dark navbar-expand-md sticky-top fs-5 fw-normal" style="transition: all 0.25s">
    <div class="container-lg">
        <a class="navbar-brand d-grid" href="#">
            <img id='navLogoDark' src="assets/images/logo/genome_foundry_logo.svg" width="280px" alt="genome foundry logo" style='grid-column: 1; grid-row: 1; opacity: 0; transition: all 0.25s;'>
            <img id='navLogoLight' src="assets/images/logo/genome_foundry_logo_white.svg" width="280px" alt="genome foundry logo" style='grid-column: 1; grid-row: 1; transition: all 0.25s;'>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                {% for item in site.data.navigation %}
                    {% if item[0] != "languageswitcher" %}
                        <li class="nav-item">
                            <a id="{{ item[0] }}" class="nav-link" href="{{ item[1].link }}">{{ item[1].name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="nav-item">
                    <span class="language-switcher-wrapper">
                        <a id="languageSwitcher" class="btn btn-secondary btn-sm shadow text-white fw-normal text-uppercase mb-2 mb-md-0 ms-md-2" href="#scrollspyLanguages">{{ site.data.navigation.languageswitcher.name }}</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</nav>