---
# Only the main Sass file needs front matter (the dashes are enough)
---

$content-width: 100%;

@import "minima";

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
 .row::after {
        content: "";
        clear: both;
        display: table;
    }
    [class*="col-"] {
        float: left;
        padding: 15px;

    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}


video.background {
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: auto;
  z-index: -100;
}

#bottom_image {
  position: relative;
  padding: 25px;
  background: url("../assets/images/foundry_mantis.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  //max-height: 550px;
  height: auto;
  //width: 100%;
}

a{
    display: inline-block;
}
object{
    pointer-events: none;
}

.center_text {
  text-align: center;
  padding: 50px;
  font-size: 1.0vw;
}

table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

.title-mantis{
  font-size:1.5vw;
  color: white;
}

.text-mantis{
  font-size:1vw;
  color: white;
  vertical-align: bottom;
}

.team_image{
  border: 4px solid black;
  cursor: pointer;
  border-radius: 50%;
  max-width: 150px;
  //min-width: 50px;
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.team_image:hover{
  border: 2px solid gray;
  box-shadow: 0 0 6px black;
}

.team_name{
  color: white;
  text-align: center;
  font-weight: bold;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gradient-background{
  //background-image: linear-gradient(to bottom left, blue, green);
  background-image: linear-gradient(to right top, #01847f, #007c8a, #007293, #006697, #005995, #004e8b, #014381, #043877, #052e67, #042557, #021c48, #011339);
}
/* Services page */

.text-image-services {
  font-size:1.5vw;
  vertical-align: center;
  color: white;
}

.text-services-title{
  font-size:2.0vw;
  vertical-align: center;
  text-align: center;
  padding: 0px;
}

.text-services{
  font-size:1.5vw;
  vertical-align: center;
  text-align: justify-all;
}

.services-center-title{
  text-align: center;
  font-size:1.8vw;
  color: white;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw
}
.services-info-text{
  text-align: center;
  vertical-align: center;
  font-size:1.2vw;
  color: white;
}

/* Equipment page */
.image-equipment{
  align-items: flex-start;
  height: 30%;
  padding: 0vw 0vw 0vw 0vw;
}

.services-ranomics-img{
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 10px;
}

/* Contact page */

.image-contact{
  //align-items: flex-start;
  //height: 30%;
  padding: 2vw 2vw 0vw 0vw;
}

.contact-info-title{
  font-size:2vw;
  padding: 0vw 0vw 1vw 0vw;
  color: white;
}
.contact-info-text{
  font-size:1.5vw;
  color: white;
}
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.map-container {
  position: relative;
  padding-bottom: 30%;
  height: 0;
  overflow: hidden;
}

.map-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 500px;
}

/* About page */
.about-center-title{
  text-align: center;
  font-size:2.2vw;
  color: white;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw
}
.about-info-text{
  text-align: center;
  vertical-align: center;
  font-size:1.2vw;
  color: white;
}


/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .col-6, .col-6, .col-3, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

    nav{
      z-index: 10;
    }

	table {
    border: 0;
  }

  table caption {
    font-size: 13px;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 8px;
    text-align: right;
    padding: 0px;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .team_image{
    border: 4px solid black;
    cursor: pointer;
    border-radius: 50%;
    max-width: 100px;
  }


  .title-mantis{
    font-size:2vw;
    color: white;
  }

  .text-mantis{
    font-size:1.5vw;
    color: white;
    vertical-align: bottom;
  }
  #bottom_image {
    position: relative;
    padding: 5vw;
    background: url("../assets/images/foundry_mantis.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    //max-height: 550px;
    height: auto;
    //width: 100%;
  }

  .team_name{
    text-align: center;
    font-weight: bold;
  }

  .center_text {
    text-align: center;
    padding: 20px 10px 0px 10px;
    font-size: 1.5vw;
  }

  /* Services page */
  .text-image-services {
    font-size:2vw;
    vertical-align: center;
    color: white;
  }
  .text-services{
    font-size:2.5vw;
    vertical-align: center;
    text-align: justify-all;
  }
  .text-services-title{
    font-size:2.0vw;
    vertical-align: center;
    text-align: center;
    padding: 0px;
  }
  .services-center-title {
    text-align: center;
    font-size:1.6vw;
    color: white;
    padding: 0px;
  }

  .services-info-text{
    text-align: center;
    vertical-align: center;
    font-size:1.4vw;
    color: white;
    padding: 0px;
  }

  /* Contact page */
  .contact-info-title{
    font-size:3vw;
  }
  .contact-info-text{
    font-size:3vw;
  }
  input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  /* About page */
  .about-info-text{
    vertical-align: center;
    font-size:2vw;
    color: white;
  }

}