---
# Only the main Sass file needs front matter (the dashes are enough)
---

$content-width: 100%;

@import "minima";

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
 .row::after {
        content: "";
        clear: both;
        display: table;
    }
    [class*="col-"] {
        float: left;
        padding: 15px;

    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}


video.background {
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: auto;
  z-index: -100;
}

#bottom_image {
  position: relative;
  padding: 25px;
  background: url("../assets/images/foundry_mantis.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  //max-height: 550px;
  height: auto;
  //width: 100%;
}

a{
    display: inline-block;
}
object{
    pointer-events: none;
}

.center_text {
  text-align: center;
  padding: 50px;
  font-size: 1.3vw;
}

table td{
  background-color: transparent;
  border: transparent;
}

table tr:nth-child(even){
  background-color: transparent;
  border: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: transparent;
}

.team_image{
  border: 4px solid black;
  cursor: pointer;
  border-radius: 50%;
  max-width: 150px;
  min-width: 50px;
  width: 100%;
  height: auto;
}

.team_image:hover{
  border: 2px solid gray;
  box-shadow: 0 0 6px black;
}

.team_name_right{
  text-align: right;
  font-weight: bold;
}

.team_name_left{
  text-align: left;
  font-weight: bold;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-container {
  position: relative;
  padding-bottom: 30%;
  height: 0;
  overflow: hidden;
}

.map-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 500px;
}

/* Services page */

.text-image-services {
  font-size:2vw;
  vertical-align: center;
}

.text-services{
  font-size:1.8vw;
  vertical-align: center;
  padding-top: 5vw;
  text-align: justify-all;
}

/* Contact page */
.contact-info-title{
  font-size:2vw;
}
.contact-info-text{
  font-size:1.5vw;
}
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .col-6, .col-6, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {  }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

  .team_name_right{
    text-align: left;
    font-weight: bold;
  }

  .team_name_left{
    text-align: right;
    font-weight: bold;
  }

  .center_text {
    text-align: center;
    padding: 30px;
    font-size: 1.5vw;
  }

  /* Services page */
  .text-image-services {
    font-size:2.5vw;
    vertical-align: center;
  }
  .text-services{
    font-size:2.5vw;
    vertical-align: center;
    padding-top: 5vw;
    text-align: justify-all;
  }

  /* Contact page */
  .contact-info-title{
    font-size:3vw;
  }
  .contact-info-text{
    font-size:3vw;
  }
  input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

}